<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<!-- <key>After</key> -->
			<!-- <string>preview-result</string> -->
			<key>AppleScript File</key>
			<string>Eudic.applescript</string>
			<key>Title</key>
			<string>Eudic</string>
      <key>Image File</key>
			<string>eudic.png</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search in Eudic</string>
	<key>Extension Identifier</key>
	<string>com.120id.popclip.extension.eudic</string>
	<key>Extension Name</key>
	<string>Eudic</string>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
